temp
/update/artifacts/
/update/index/
/update/detail/
**/.DS_Store
**/.svn/
/*.project
va specific
*.class
target
target/*
*.lock
*.DS_Store
/settings.xml
/.settings
/extension/cache
/extension/extension-meta
/extension/extension
extension/Application.cfc
