[data-toggle='collapse'] {
  cursor: pointer;
}

/* changelog */
.clog-detail a {
  display: inline-block;
  min-width: 6em;
}

/* icon */
.icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

.icon-collapse {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTCtCgrAAAAAu0lEQVRYR+2V0Q2CQBAFrwRLtARKsAPtQEqwFDuxBN2X8Aysdx7HLvfDTjIJMRfm8SGkIAgMnMTHJK67guBTfE/iutsIHe86ohSnu46oxekuI9bGqeuI1jh1GVGLj+Jd/TbXNGJNnLiPqMUHUXMWc2dh04haHKES5hGWONk8wiNOmkd4xknTCHzRcgfhljj5NwLNLxcxd8gSJ6URN3GB/i97xIkeMX+HLLiKL9EzTnBP3PvnyYMgODIpfQD0pMGh3y8gdgAAAABJRU5ErkJggg==');
}

.collapsed .icon-collapse {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABDElEQVRYR+2WYQ3CMBBG3xzgBAs4AAeAAsABKAAHIAEcYAEnk0CO7Jamabtr14Q/7T+yce/1u/ayjj+v7s98mkBLoCXgJ3ADtsAJeFS+ojvgOtSV+r/lCghQ4Lr2FSUEfndqC0vqjwKy80NgxzUkfLhiLsBZE3gC60jkcyRicEG9gI0KLIA3sKwokYJ/gBXQu2egpoQJ7h9C+V1DwgwPCcyVyILHBEoljsM9Dx2jsef+w9QonmrHeJeHeeHOEJcThacS0AIWCdlEEdwiYGlHbGIndx4axanRP5WE/18T3JqAtR36nhmeK2BpRxa8RCAlkQ0vFQhJFMHnCKiEfrTIBOxTpzj2rH0TtgRaAl9hU0Yhmm45nwAAAABJRU5ErkJggg==');
}
